#red.selected {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(255, 46, 56, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(255, 46, 56, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(255, 46, 56, 0.9);
}

#yellow.selected {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(255, 220, 46, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(255, 220, 46, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(255, 220, 46, 0.9);
}

#green.selected {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(46, 255, 119, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(46, 255, 119, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(46, 255, 119, 0.9);
}
